h1 {
    color: hotpink;
    font-family: cursive;
  }

  body {
    height: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55,#c0ffee);
  }

  h3 {
    background: linear-gradient(to right, #f12711,#f5af19);
    color: transparente;
    background-clip: text;
    font-size: 30px;
  }